{% load static %}
{% load i18n %}
{% load account socialaccount %}

 <!DOCTYPE html>
 <head>
 	<meta charset="UTF-8">
 	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
  <link href="{% static  'css/login/style_phone.css'%}" rel="stylesheet" media="screen and (max-width: 449px)">
  <link href="{% static  'css/login/style_tablet.css'%}" rel="stylesheet" media="screen and (min-width: 450px) and (max-width: 1250px)">
  <link href="{% static  'css/login/style_desktop.css'%}" rel="stylesheet" media="screen and (min-width: 1251px)">
  <link rel="shortcut icon" type="image/x-icon" href="{% static  '/images/logo.ico'%}">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

 </head>

 <title>Portfolio.APPS</title>

<div class="split left">
  <div class="centered">

  	<div class="info">
		<span class="glyphicon glyphicon-search" aria-hidden="true" > Search your perfect employee</span>
  	</div>

    <div class="info">
    	<span class="glyphicon glyphicon-user" aria-hidden="true"> Create your perfect profile</span>

    </div>

    <div class="info">
    	<span class="glyphicon glyphicon-list-alt" aria-hidden="true"> Generate CV</span>
    </div>

  </div>
	 <span class="APPS">APPS</span>
</div>


{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<div class="split right">
  <div class="centered">
    <h2 class="welcome">{% blocktrans with site.name as site_name %}Please sign in with your existing @ucu.edu.ua account :){% endblocktrans %}</h2>
      <br>
 <!--   <button type="button" class="sign-in">Sign In</button> -->
  <ul class="sign-in">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

<!--    <button type="button" class="sign-up">Sign up</button> -->
  </div>
</div>
{% endif %}

</html>
