{% extends "edit/edit.html" %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block block-header %}{% trans "Change Password" %}{% endblock %}

{% block edit_content %}
    <!--<h1>{% trans "Change Password" %}</h1>-->

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">

  {% csrf_token %}
  {% include 'includes/bs4_form.html' with form=form %}
    <button type="submit" class="btn btn-primary">{% trans "Change Password" %}</button>
</form>
{% endblock %}