{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/internships.css' %}">
{% endblock %}

{% block head_title %}{% trans title %}{% endblock %}
{% block block-header %}{% trans title %}{% endblock %}

{% block content %}

    <!-- <button type="button" class="btn btn-primary mb-3" href="{% url 'create_internship' %}">Add internship</button> -->

    <div class="mt-3 mb-3 text-center">
        <a class="btn btn-primary" href="{% url 'create_internship' %}">Create internship</a>
    </div>

    {% if internships %}

        <div class="row internship_container">
            {% for internship in internships %}
                <div class="col-lg-6 col-xl-6 mb-3">
                    <li class="list-group-item text-center">
                        <h4>{{internship.name}}</h4>
                    </li>
                    <li class="list-group-item internship_description">
                        <h5 class="text-center">{{internship.position}}</h5>
                        <div class="big-text text-hidden">
                            {{internship.description}}
                        </div>
                    </li>
                    <li class="list-group-item">
                        Published by:  
                        <div class="created_by text-hidden">
                            <a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&to={{ internship.created_by }}&tf=1" target="_blank">
                                {{internship.created_by}}
                            </a>
                        </div>
                    </li>
                    <li class="list-group-item internship_footer">
                        <div>
                            <a class="btn btn-primary" href="#">Apply</a>
                        </div>
                        <div>Deadline: {{internship.deadline}}</div>
                    </li>
                </div>
            {% endfor %}
        </div>

    {% endif %}




{% endblock %}

