{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}

    <button type="button" class="btn btn-primary mb-3">Add internship</button>

    {% if internships %}

        <div class="justify-content-md-center">
            {% for internship in internships %}
                <ul class="col-md-4">
                    <li class="list-group-item">
                        Title: {{internship.name}}
                    </li>
                    <li class="list-group-item">
                        Published by: {{internship.created_by}}
                    </li>
                    <li class="list-group-item">
                        <a class="btn btn-primary" href="#">Apply</a>
                    </li>
                </ul>
            {% endfor %}
        </div>

    {% endif %}

{% endblock %}