body, html{
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    letter-spacing: 2px;
    overflow: auto;
}
svg{
    display: block;
}
#overlay{
    position: fixed;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all .5s;
    background-color: rgb(0,0,0);
    z-index: 4;
}
#main{
    transition: all .5s;
    width: auto;
    height: auto;
}
.close{
    margin-left: 15px;
    opacity: .8;
    width: 25px;
    height: 25px;
}
.close:hover{
    opacity: 1;
}
#exit{
    fill: whitesmoke;
}
.exit{
    white-space: nowrap;
    margin: 10px 0px 0px 15px;
    width: auto;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    opacity: .8;
}
.info{
    width: 100%;
    flex-wrap: nowrap;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}
.info a{
    font-family: 'Roboto';
    color: whitesmoke;
    opacity: .8;
    text-decoration: none;
    font-weight: 300;
    font-size: 21px;
    letter-spacing: .5px;
    margin: 20px 0px 0px 15px;
}
.info hr{
    background-color: #b2b2b2;
}
.info a:hover{
    opacity: 1;
}
.info a:nth-of-type(2){
    margin: 5px 0px 10px 15px;
}
.exit a{
    margin: 0px 0px 0px 5px;
}
.exit:hover{
    opacity: 1;
}
#menu{
    opacity: .8;
    margin-left: 20px;
    width: 20px;
}
.icon_container{
    margin-right: 20px;
    width: auto;
    height: 65px;
}
#popup{
    display: none;
}
#pop_menu{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    z-index: 5;
    width: 0;
    height: 100%;
    overflow-x: hidden;
    position: fixed;
    transition: .5s;
    background-color: rgb(54, 54, 54);
}
.menu_head{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 65px;
    background-color: rgb(101,57,152);
}
.navigation{
    position: relative;
    z-index: 1;
    height: 60px;
    background-color: rgb(105, 60, 159);
    border-bottom: 1px solid #b2b2b2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#triang{
    display: none;
}
#nav{
    padding: 0;
    margin: 0;
    font-weight: 700;
    font-size: 21px;
    letter-spacing: 1px;
    opacity: .8;
    color: whitesmoke;
}
#nav:hover{
    cursor: pointer;
    opacity: 1;
}
.icons{
    height: 100%;
    width: 95px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icons div{
    display: none;
}
.photo{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: whitesmoke;
    width: 120px;
    height: 120px;
    box-shadow: 0px 0px 13px rgb(80,80,80);
}
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.navigation span,
.navigation p,
.navigation h1,
.navigation h2,
.navigation a{
    font-family: 'Roboto', sans-serif;
    color: rgb(68,68,68);
}
hr{
    border: none;
    height: 1px;
    background-color: whitesmoke;
    width: 100%;
}