body, html{
	margin: 0;
	padding: 0;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
	letter-spacing: 2px;
	overflow: auto;
    transition: all .5s;
}
#overlay{
    display: none;
}
#main{
    transition: all .5s;
    width: auto;
    height: auto;
}
.close{
    display: none;
}
.navigation{
	height: 65px;
	background-color: rgb(32,32,32);
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: all 0.5s ease;
    box-shadow: 0px 0px 13px rgb(120,120,120);
}
#exit{
    fill: #363636;
}
.exit{
    display: flex;
    width: auto;
    margin: 0px 0px 10px 10px;
    justify-content: start;
    align-items: center;
}
.info{
    display: none;
}
.logo{
	margin-left: 30px;
}
#nav{
    padding: 0;
    margin: 0;
    font-weight: 700;
    font-size: 21px;
    letter-spacing: 1px;
	opacity: .8;
}
#popup{
    display: none;
    width: 100%;
    flex-direction: column;
    height: auto;
    background-color: whitesmoke;
    box-shadow: 0px 0px 8px rgb(171, 171, 171);
}

#popup a{
    font-weight: 500;
    letter-spacing: .5px;
    color: #3a3a3a;
    text-decoration: none;
    font-size: 15px;
}
#popup a:nth-child(n+2){
    margin: 10px 0px 0px 10px;
}
#popup a:nth-child(1){
    margin: 10px 0px 0px 10px;
}
#popup hr{
    width: 100%;
    background-color: #3a3a3a;
}
#popup .exit a{
    margin: 0px 0px 0px 5px;
}
#nav:hover, #menu:hover{
	cursor: pointer;
	opacity: 1;
}
#menu{
    display: none;
}
.menu_head{
    display: none;
}
#pop_menu{
    display: none;
}
.icon_container{
    margin-right: 30px;
    width: auto;
    height: 65px;
}
.icon_container .avatar{
    opacity: .8;
    width: 35px;
    height: 35px;
	cursor: pointer;
}
.icon_container .avatar:hover{
    opacity: 1;
}
.icons{
	height: 100%;
    width: 145px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.photo{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: whitesmoke;
    width: 140px;
    height: 140px;
    box-shadow: 0px 0px 13px rgb(80,80,80);
}
.navigation .photo{
    background-color: transparent;
    width: auto;
    height: auto;
    box-shadow: none;
}
.avatar{
    width: 70%;
    height: 70%;
    border-radius: 50%;
}
.navigation span,
.navigation p,
.navigation h1,
.navigation h2,
.navigation a{
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
}
hr{
    border: none;
    height: 1px;
    background-color: whitesmoke;
    width: 100%;
}
svg{
    display: block;
}