{% load static %}

<!DOCTYPE html>
<html>
<head>
<title>Curriculum Vitae</title>


<meta name="viewport" content="width=device-width"/>
<meta name="description" content="CV"/>
<meta charset="UTF-8">

<link type="text/css" rel="stylesheet" href="{% static 'css/cv_style.css' %}">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>




</head>
<div id="cv" class="instaFade">
	<div class="mainDetails">
        {% if found_user.profile_image %}
		<div id="headshot" class="quickFade">
			<img src="{% get_media_prefix %}{{ found_user.profile_image}}" alt="userphoto" />
		</div>
        {% endif %}

		<div id="name">
			<h1 class="quickFade delayTwo">{{ found_user.first_name }} {{ found_user.last_name }}</h1>
            {% if found_user.student.study_programme.name %}
			<h2 class="quickFade delayThree">Studying {{ found_user.student.study_programme }} at Ukrainian Catholic University</h2>
		    {% endif %}
        </div>

		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>e: {{ found_user.email }}</li>
				<li>m: {{ found_user.mobile_number }}</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>

	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Personal Profile</h1>
				</div>

				<div class="sectionContent">
                    {% if found_user.student.summary %}
					<p>{{ found_user.student.summary }}
                    {% endif %}
                </div>

			</article>
			<div class="clear"></div>
		</section>


		<section>
			<div class="sectionTitle">
				<h1>Work Experience</h1>
			</div>

			<div class="sectionContent">
                {% for work in found_user.workingexperience_set.all %}
				<article>
					<h2>{{ work.title }} at {{ work.company }}</h2>
                    {% if work.period_start %}
					<p class="subDetails"> {{ work.period_start }} {% if work.period_end %} - {{ work.period_end }} {% endif %}</p>
                    {% endif %}
					<p>{{ work.description }}</p>
				</article>
                {% endfor %}
			</div>
			<div class="clear"></div>
		</section>


		<section>
			<div class="sectionTitle">
				<h1>Qualifications</h1>
			</div>

			<div class="sectionContent">
				<ul class="keySkills">
                    {% for hardskill in found_user.student.hard_skills.all %}
					    <li>{{ hardskill }}</li>
					{% endfor %}
                    {% for softskill in found_user.student.soft_skills.all %}
					    <li>{{ softskill }}</li>
					{% endfor %}
                    {% for lang in found_user.language_set.all %}
                        <li>{{ lang.name }}({{lang.level}})</li>
                    {% endfor %}
                <li>Python</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>


		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>

			<div class="sectionContent">
				<article>
					<h2>Ukrainian Catholic University</h2>
					<p class="subDetails">{{ found_user.student.study_programme.name }}</p>
					<p></p>
				</article>

			</div>
			<div class="clear"></div>
		</section>


		<section>
			<div class="sectionTitle">
				<h1>Volunteering</h1>
			</div>

			<div class="sectionContent">
                 {% for volunteering in found_user.volunteerexperience_set.all %}
				<article>
					<h2>{{ volunteering.title }}</h2>
					<p class="subDetails">{{ volunteering.organization }}</p>
					<p>{{ volunteering.description }}</p>
				</article>
				 {% endfor %}
			</div>
			<div class="clear"></div>
		</section>

        <section>
			<div class="sectionTitle">
				<h1>Interests</h1>
			</div>

			<div class="sectionContent">
				<ul class="keySkills">
                <li>PIU PIU</li>
                    {% for hardskill in found_user.student.hard_skills.all %}
					    <li>{{ hardskill }}</li>
					{% endfor %}
                    {% for softskill in found_user.student.soft_skills.all %}
					    <li>{{ softskill }}</li>
					{% endfor %}
                    {% for lang in found_user.language_set.all %}
                        <li>{{ lang.name }}({{lang.level}})</li>
                    {% endfor %}
                </ul>
			</div>
			<div class="clear"></div>
		</section>

	</div>
</div>

</html>
