{% load static %}

<!DOCTYPE html>
<html>
<head>
<title>Curriculum Vitae</title>


<meta name="viewport" content="width=device-width"/>
<meta name="description" content="CV"/>
<meta charset="UTF-8">

<link type="text/css" rel="stylesheet" href="{% static 'css/cv_style.css' %}">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>




</head>
<div id="cv" class="instaFade">
	<div class="mainDetails">
        {% if found_user.profile_image %}
		<div id="headshot" class="quickFade">
			<img src="{% get_media_prefix %}{{found_user.profile_image}}" alt="userphoto" />
		</div>
        {% endif %}

		<div id="name">
			<h1 class="quickFade delayTwo">{{ found_user.first_name }} {{ found_user.last_name }}</h1>
			<h2 class="quickFade delayThree">Student at UCU</h2>
        </div>

		<div id="contactDetails" class="quickFade delayFour">
			<ul>
            <!--email_off-->		<li>e: {{ found_user.email }}</li> <!--/email_off-->
            {% if found_user.mobile_number %}
            <li>m: {{ found_user.mobile_number }}</li>
            {% endif %}
			</ul>
		</div>
		<div class="clear"></div>
	</div>

	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Personal Profile</h1>
				</div>

				<div class="sectionContent">
                    {% if found_user.student.cv_summary %}
					<p>{{ found_user.student.cv_summary }}
                    {% elif found_user.summary %}
                    <p>{{ found_user.student.summary }}
                    {% endif %}
                </div>

			</article>
			<div class="clear"></div>
		</section>


		<section>
			<div class="sectionTitle">
				<h1>Work Experience</h1>
			</div>

			<div class="sectionContent">
                {% for work in found_user.student.cv_working.all %}
				<article>
					<h2>{{ work.title }} at {{ work.company }}</h2>
                    {% if work.period_start %}
					<p class="subDetails"> {{ work.period_start }} {% if work.period_end %} - {{ work.period_end }} {% endif %}</p>
                    {% endif %}
					<p>{{ work.description }}</p>
				</article>
                {% endfor %}
			</div>
			<div class="clear"></div>
		</section>


        <section>
			<div class="sectionTitle">
				<h1>Projects</h1>
			</div>

			<div class="sectionContent">
                {% for project in found_user.student.cv_projects.all %}
                    <article>
                        <h2>{{ project.name }}</h2>
                        {% if project.technologies %}
                            {% for tech in  project.technologies.all %}
                                <li style="display:inline-block" class="subDetails"> {{ tech }} </li>
                            {% endfor %}
                        {% endif %}
                        <p>{{ project.about }}</p>
                    </article>
                {% endfor %}
			</div>
			<div class="clear"></div>
		</section>



		<section>
			<div class="sectionTitle">
				<h1>Qualifications</h1>
			</div>

			<div class="sectionContent">
				<ul class="keySkills">
                    {% for hardskill in found_user.student.cv_hard_skills.all %}
                        <li>{{ hardskill }}</li>
                    {% endfor %}

                    {% for softskill in found_user.student.cv_soft_skills.all %}
                        <li>{{ softskill }}</li>
                    {% endfor %}

                    {% for plang in found_user.cv_programming_languages.all %}
                        <li>{{ plang }}</li>
                    {% endfor %}

                    {% for lang in found_user.language_set.all %}
                        <li>{{ lang.name }}({{lang.level}})</li>
                    {% endfor %}
				</ul>
			</div>
			<div class="clear"></div>
		</section>


		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>

			<div class="sectionContent">
            {% if found_user.student.study_programme.name %}
				<article>
					<h2>Bachelor of {{ found_user.student.study_programme.name }}</h2>
					<p class="subDetails">Ukrainian Catholic University</p>
					<p></p>
				</article>
            {% endif %}
                {% for edu in found_user.education.all %}
				<article>
                {% if edu.degree %}
					<h2>{{ edu.degree }} of {{ edu.field_of_study }}</h2>
                {% else %}
                    <h2>{{ edu.field_of_study }}</h2>
                {% endif %}
                    {% if edu.period_start %}
					<p class="subDetails"> {{ edu.period_start }} {% if edu.period_end %} - {{ edu.period_end }} {% endif %}</p>
                    {% endif %}
                    {% if edu.description %}
					<p>{{ edu.description }}</p>
                    {% endif %}
				</article>
                {% endfor %}

			</div>
			<div class="clear"></div>
		</section>


		<section>
			<div class="sectionTitle">
				<h1>Volunteering</h1>
			</div>

			<div class="sectionContent">
                 {% for volunteering in found_user.student.cv_volunteering.all %}
				<article>
                    <h2>ML Conference</h2>
					<h2>{{ volunteering.title }}</h2>
                    <p class="subDetails">Organisation</p>
					<p class="subDetails">{{ volunteering.organization }}</p>
					<p>{{ volunteering.description }}</p>
				</article>
				 {% endfor %}
			</div>
			<div class="clear"></div>
		</section>

        <section>
			<div class="sectionTitle">
				<h1>Interests</h1>
			</div>
			<div class="sectionContent">
				<ul class="keySkills">
                {% for interest in found_user.fields_of_interests.all %}
                    <li>{{ interest }}</li>
                {% endfor %}
                </ul>
                <ul class="keySkills">
                {% for hobby in found_user.student.hobbies.all %}
                    <li>{{ hobby }}</li>
				{% endfor %}
                </ul>
			</div>
			<div class="clear"></div>
		</section>

	</div>
</div>
</html>
