{% extends 'base.html' %}
{% block block-header %}Hello world {{user}}{%endblock%}

{% block content %}


{% load socialaccount %}

<div class="row justify-content-md-center"><div class="col-md-6">
    {% if user.is_authenticated %}
<p>Welcome {{ user.first_name }} {{ user.last_name }} !!!</p>
<p><a href="{% url 'account_logout' %}">Log out</a>
{% else %}
<p><a href="{% url 'account_signup' %}">Sign Up</a></p>
<p><a href="{% url 'account_login' %}">Log In </a></p>
{% endif %}
</div>
    </div>
{% endblock %}