{% extends "edit/edit.html" %}
{% load i18n %}


{% block head_title %}{% trans "Edit user data:" %}{% endblock %}
{% block block-header %}{% trans "Edit user data:" %}{% endblock %}


{% block edit_content %}
<form method="POST" action="{% url 'edit_user' %}" enctype="multipart/form-data">
  {% csrf_token %}
  {% include 'includes/bs4_form.html' with form=form %}
      <div class="form-group">
          <label>
              Reset password:
          </label>
          <div>
              <a href="{% url 'account_change_password' %}" class="btn btn-primary">Reset password</a>
          </div>

      </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
{% endblock %}
