{% extends "base.html" %}
{% load i18n %}
{% load static %}


{% block head_title %}search{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/search.css' %}">
    {% endblock %}

{% block block-header %}{% endblock %}
{% block content %}
<div class="row justify-content-md-center">
  <div class="col-md-4">
    <form method="post">
        {% csrf_token %}
        <table clas="table">
        {{ form.first_name }}
        {{ form.last_name }}
        {{ form.current_study_year }}
        </table>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    </div>

</div>
    <div class="row justify-content-md-center">
        {% for user in users %}
            <ul class="col-md-4 list-group">
            <li class="list-group-item">
                 {{user.first_name}}{{ user.last_name }}
            </li>
            <li class="list-group-item">
                {{ user.student.summary }}
            </li>

        </ul>
        {% endfor %}
    </div>

{% endblock %}
