{% extends 'base.html' %}
{% block block-header %}{{ found_user.profile_image}}{{ found_user.first_name}} {{ found_user.last_name}}{%endblock%}

{% block content %}



<div class="row justify-content-md-center">
    <div class="col-md-2">
        <p>Email: {{ found_user.email }}</p>
        <p>Mobile: {{ found_user.mobile_number }}</p>
        <p>Git: {{ found_user.git_link }}</p>
        <p>Fb: {{ found_user.fb_link }}</p>
    </div>
    <div class="col-md-8">
        <div class="d-flex align-items-center bg-purple rounded box-shadow">
            <h2>Projects</h2>
        </div>
        <p>{{ found_user.student.study_programme}}</p>

    </div>
    <div class="col-md-2">
        <p>{%lorem%}</p>
    </div>
</div>
{% endblock %}
