{% load static %}

<!DOCTYPE html>
<html>
<head>
<title>Curriculum Vitae</title>


<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae."/>
<meta charset="UTF-8">

<link type="text/css" rel="stylesheet" href="{% static 'css/cv_style.css' %}">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>


</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src={{ found_user.profile_image }} alt="userphoto" />
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo">{{ found_user.first_name }} {{ found_user.last_name }}</h1>
			<h2 class="quickFade delayThree">programiruyu</h2>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>e: <a href="mailto:yuzkiv@ucu.edu.ua" target="_blank">{{ found_user.email }}</a></li>
				<li>m: {{ found_user.mobile_number }}</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Personal Profile</h1>
				</div>
				
				<div class="sectionContent">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dolor metus, interdum at scelerisque in, porta at lacus. Maecenas dapibus luctus cursus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies massa et erat luctus hendrerit. Curabitur non consequat enim. Vestibulum bibendum mattis dignissim. Proin id sapien quis libero interdum porttitor.</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Work Experience</h1>
			</div>
			
			<div class="sectionContent">
                {% for work in found_user.workingexperience_set.all %}
				<article>
					<h2>{{ work.title }} {{ work.company }}</h2>
					<p class="subDetails"> {{ work.period_start }}-{{ work.period_end }}</p>
					<p>{{ work.description }}</p>
				</article>
                {% endfor %}
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Key Skills</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="keySkills">
					<li>A Key Skill</li>
					<li>A Key Skill</li>
					<li>A Key Skill</li>
					<li>A Key Skill</li>
					<li>A Key Skill</li>
					<li>A Key Skill</li>
					<li>A Key Skill</li>
					<li>A Key Skill</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Ukrainian Catholic University</h2>
					<p class="subDetails">Computer Science</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies massa et erat luctus hendrerit. Curabitur non consequat enim.</p>
				</article>
				
				<article>
					<h2>College/University</h2>
					<p class="subDetails">Qualification</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies massa et erat luctus hendrerit. Curabitur non consequat enim.</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>

		
		<section>
			<div class="sectionTitle">
				<h1>Volunteering</h1>
			</div>
			
			<div class="sectionContent">
                 {% for volunteering in found_user.volunteerexperience_set.all %}
				<article>
					<h2>{{ volunteering.title }}</h2>
					<p class="subDetails">{{ volunteering.organization }}</p>
					<p>{{ volunteering.description }}</p>
				</article>
				 {% endfor %}
			</div>
			<div class="clear"></div>
		</section>
		
	</div>
</div>

</body>
</html>
