{% extends 'base.html' %}
{% block block-header %}{{ student.profile_image}}{{ student.first_name}} {{ student.last_name}}{%endblock%}

{% block content %}



<div class="row justify-content-md-center">
    <div class="col-md-2">
        <p>Email: {{ student.email }}</p>
        <p>Mobile: {{ student.mobile_number }}</p>
        <p>Git: {{ student.git_link }}</p>
        <p>Fb: {{ student.fb_link }}</p>
    </div>
    <div class="col-md-8">
        <div class="d-flex align-items-center bg-purple rounded box-shadow">
            <h2>Projects</h2>
        </div>
        <p>{%lorem%}</p>

    </div>
    <div class="col-md-2">
        <p>{%lorem%}</p>
    </div>
</div>
{% endblock %}
