{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
          <div class="col-12 col-md">
              <div class="block_1">
           <img class="footer_photo" alt="FAPPS" width="150" height="150" src="{% static 'images/footer.jpg'%}">
            <small class="d-block mb-3 text-muted footer_year">&copy; 2017-2018</small>
              </div>
          </div>
          <div class="col-6 col-md">
            <h5>About us</h5>
            <ul class="list-unstyled text-small">
              <li class="text-muted">Faculty of Applied Sciences at
                  <a href="https://ucu.edu.ua/en/">Ukrainian Catholic University</a>
              </br>79076
              </br>Ukraine
              </br>Lviv
              </br> Kozelnytska st. 2a
              </br>office 314
              </li>
            </ul>
          </div>

          <div class="col-6 col-md">
            <h5>Contact us</h5>
              <p>
              <a href="https://www.facebook.com/csatucu" class="contact_links">
                  <i class="fa fa-facebook-square"></i> Facebook page</a>
              </br>
               <a href="https://www.youtube.com/channel/UCAXm37jEuwO_HicFxSs7b0g" class="contact_links">
                  <i class="fa fa-youtube-play"></i> Youtube channel</a>
              <p class="email_footer">Email: help.portfolio.apps@gmail.com</p>
              </p>
              </ul>
          </div>
        <div class="col-6 col-md">
            <h5>Creators</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Our team</a></li>
              <li><a class="text-muted" href="#">Privacy</a></li>
              <li><a class="text-muted" href="#">Termsc</a></li>
            </ul>
          </div>
        </div>
      </footer>


<!--
 email
 facebook
 instagram
 youtube



 -->