{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
          <div class="col-md-3 col-sm-12">
              <div class="block_1">
           <img alt="FAPPS" width="150" height="150" src="{% static 'images/footer.jpg'%}">
            <small class="d-block mb-3 text-muted footer_year">&copy; 2017-2018</small>
              </div>
          </div>

          <div class="col-md-4 col-sm-12 about_us_block">
            <h5>About us</h5>
            <p class="about_us_info">
            <img class="footer_location" alt="location" width="30" height="40" src="{% static 'images/location.png'%}">
            <a href="http://cs.ucu.edu.ua/en/">Faculty of Applied Sciences at</a>
            </br>
                Ukrainian Catholic University
                </br>79076, Ukraine, Lviv,</br> Kozelnytska st. 2a, office 314

            </p>
          </div>

          <div class="col-md-3 col-sm-12 contact_info">
            <h5>Contact us</h5>
              <a href="https://www.facebook.com/csatucu" class="contact_links">
                 <i class="fa fa-facebook-square"></i> Facebook page</a>
              </br>
               <a href="https://www.youtube.com/channel/UCAXm37jEuwO_HicFxSs7b0g" class="contact_links">
                  <i class="fa fa-youtube-play"></i> Youtube channel</a>
              </br>
               <a href="https://www.instagram.com/ucu_apps" class="contact_links">
                  <i class="fa fa-instagram"></i> Instagram </a>
              </br>
              <a href="https://twitter.com/ucu_apps" class="contact_links">
                  <i class="fa fa-twitter"></i> Twitter</a>
              </br>
              <p class="email_info_footer">
              Email: help.portfolio.apps@gmail.com
              </p>
          </div>

        <div class="col-md-2 col-sm-12 creators_info">
            <h5>Creators</h5>
            <a href="#">Our team</a> </br>
              <a href="#">Privacy</a></br>
              <a href="#">Terms</a></br>

          </div>
        </div>
      </footer>


<!--
 email
 facebook
 instagram
 youtube



 -->