<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    {% url 'account_signup' as signup %}
    {% url 'account_login' as signin %}
    {% url 'account_logout' as logout %}
    {% url 'about' as about %}
    {% url 'home' as home %}
    {% url 'edit_user' as edit_user %}
    {% url 'edit_student' as edit_student %}
    {% url 'edit_student' as edit_student %}
    <a class="navbar-brand" href="{{home}}">Portfolio APPS.UCU</a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample04"
            aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarsExample04" style="">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if request.path == home %}active{% endif %}">
                <a class="nav-link" href="{{home}}">Home</a>
            </li>
            <li class="nav-item {% if request.path == about %}active{% endif %}">
                <a class="nav-link" href="{{about}}">About</a>
            </li>
            {% if request.user.is_authenticated %}
            <li class="nav-item {% if request.path|slice:':5' == '/edit' %}active{% endif %}">

                <a class="nav-link" href="{{edit_user}}"><i class="fas fa-cog"></i></a>
            </li>
            {% endif %}
        </ul>
        {% if request.user.is_authenticated %}
        <a class="btn btn-outline-light" href="{{ logout }}">Sign out</a>
        {% else %}
        {% if request.path == signin %}
        <a class="btn btn-outline-light" href="{{ signup }}">Sign up</a>
        {% else %}
        <a class="btn btn-outline-light" href="{{ signin }}">Sign in</a>
        {% endif %}
        {% endif %}

    </div>
</nav>
