.proj_carousel{
    width: 100%;
    min-height: inherit;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.proj_carousel .carousel{
    width: inherit !important;
    height: inherit !important;
}

.proj_carousel .carousel-control-prev,
.proj_carousel .carousel-control-next{
    width: 7%;
}

.proj_carousel .carousel-control-prev:hover,
.proj_carousel .carousel-control-next:hover{
    background-color: #c3c3c3 !important;
}

.proj_carousel .carousel-control-prev:active,
.proj_carousel .carousel-control-next:active{
    background-color: #767676 !important;
}
.proj_carousel hr{
    border-top: 3px solid gray;
}
.proj_title{
    margin: 10px auto 0 auto;
    width: 65%;
    height: 60px;
    text-align: center;
}
.collaborators_info{
    padding-left: 0 !important;
}
.collaborator{
    max-width: 200px;
    margin: 5px auto;
    font-size: 14px;
    font-weight: 700;
    padding: 2px 1px 2px 3px;
    background-color: rgb(185,185,185);
    color: whitesmoke;
}
.collaborator a:hover{
    background-color: rgb(185,185,185) !important;
}
.projects_container .carousel-inner {
    padding: 0px 85px;
}
#workCarousel .proj_desc {
    margin-left: 60px;
}
.volunteer_organization {
    height: 35px;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f000000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f000000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

@media screen and (max-width: 1024px) {
    .proj_carousel{
        height: 235px;
    }
}
@media screen and (max-width: 425px) {
    .proj_carousel{
        height: 300px;
    }

    .proj_title{
        margin: 0.5rem auto 0.5rem;
        width: 100%;
        height: auto;
    }

    .projects_container .carousel-inner {
        padding: 0px 35px;
    }
}
@media screen and (max-width: 425px) {
    .proj_carousel{
        height: 340px;
    }
}
@media screen and (max-width: 320px) {
    .proj_carousel{
        height: 365px;
    }
}
.proj_about_section{
    font-size: 11px;
}