.internship_container{
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 15px;
    justify-content: space-between; */
}
.internship_description{
    height: 225px;
}
.big-text{
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
}
.text-hidden{
    overflow: hidden;
    text-overflow: ellipsis;
}
.internship_footer{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.created_by{
    color: #000000;
    display: block;
}
.list-group-item, .list-group-item:hover{ z-index: auto !important; }

.inner_check{
/* TODO: align with the desctiption, make bigger */
}