.table tr:hover {
    /*cursor: pointer;*/
}

.bg-purple {
    background: darkviolet;
}

div.kastil {
    text-align: center !important;
}

body > div > div > div.col-md-6.align-left > div > div.kastil {
    text-align: center !important;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: rgb(101,57,152);
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(160, 105, 224, 0.6);
}

.btn-primary {
    background-color: rgb(101,57,152);
    border-color: rgb(101,57,152);


}

.btn-primary:hover {
    background-color: #d9d9d9;
    border-color: rgb(101,57,152);
    color: rgb(101,57,152);
}


.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: rgb(101,57,152);
  background-color: rgb(201, 201, 201);
  border-color: rgb(101,57,152);
  shadow: 0 3px 3px rgb(0, 0, 0);

}


.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(101,57,152, 0.2);
}




.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgb(101,57,152);
}

.form-control.is-valid:focus, .form-control.is-valid{
    border-color: rgba(168, 127, 244, 0.6);

}

.form-control.is-valid:focus {
    box-shadow: 0 0 0 0.02rem rgba(168, 127, 244, 0.6);
}