{% extends "edit/edit.html" %}
{% load i18n %}


{% block head_title %}{% trans title %}{% endblock %}
{% block block-header %}{% trans title %}{% endblock %}

{% block edit_content %}

<table class="table table-hover">
    <thead>
      <tr>
        <th>Title</th>
        <th>About</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        {% for project in projects %}
            <tr><td>{{project.title}}</td>
            <td>{{project.about|truncatechars:10}}</td>
            <td><a href="{% url 'edit_project' project.id %}"><i class="far fa-edit"></i></a></td>
            <td><a href="{% url 'delete_project' project.id %}"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
            </tr>
        {% endfor %}
    </tbody>
  </table>
<a class="btn btn-primary float-right" href="{% url 'new_project' %}"><i class="fas fa-plus"></i></a>
{% endblock %}
