{% load static %}

<!doctype HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="icon" href="../../../../favicon.ico">-->

    <title>{% block head_title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    {% block extra_head %}
    {% endblock %}
</head>

<body>
{% include 'includes/header.html' %}

{% block body %}
<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h2 class="display-4">{% block block-header %}{% endblock %}</h2>
    <p class="lead">{% block block-header-comment %} {% endblock %}</p>
</div>

<div class="container">
    {% if messages %}

    <div class="row justify-content-md-center"> <div class="col-md-8">
        {% for message in messages %}
        {% if message.tags == "success" %}
        <div class="alert alert-success alert-dismissible">
            {% elif message.tags == "error" %}
            <div class="alert alert-danger alert-dismissible">
                {% else %}
                <div class="alert alert-info alert-dismissible">
                    {% endif %}

                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>{{message.tags|capfirst}}:</strong> {{message}}

                    {% if message.tags == "success" %}
                </div>
                {% elif message.tags == "error" %}
            </div>
            {% else %}
        </div>
        {% endif %}

        {% endfor %}

</div>
    </div>
    {% endif %}
    {% block content %}
    {% endblock %}


    {% block extra_body %}
    {% endblock %}

    {% include 'includes/footer.html' %}
</div>
{% endblock %}


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"-->
        <!--integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"-->
        <!--crossorigin="anonymous"></script>-->
<!--<script>window.jQuery || document.write("<script src=\"{% static 'js/vendor/jquery-slim.min.js'%}\"><\/script>")</script>-->
<!--<script src="{% static 'js/vendor/popper.min.js' %}"></script>-->
<!--<script src="{% static 'js/bootstrap.min.js' %}"></script>-->
<!--<script src="{% static 'js/vendor/holder.min.js' %}"></script>-->
<!--<script>-->
    <!--Holder.addTheme('thumb', {-->
        <!--bg: '#55595c',-->
        <!--fg: '#eceeef',-->
        <!--text: 'Thumbnail'-->
    <!--});-->
<!--</script>-->
 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% block scripts %}
{% endblock %}
</body>
</html>
