{% extends "base.html" %}
{% load static %}
{% load i18n %}


{% block head_title %}{% trans title %}{% endblock %}
{% block block-header %}{% trans title %}{% endblock %}
{% block content %}
<div class="row">
{% for req in requests %}
<ul class="col-md-4 list-group">
    <li class="list-group-item">
        Student: {{req.student.email}}
    </li>
    <li class="list-group-item">
        Title: {{req.title}}
    </li>
    <li class="list-group-item">
        <a class="btn btn-primary" href="{% url 'show_single_request' req.id %}">Show request</a>
    <a class="btn btn-primary" href="{% url 'accept_request' req.id %}">Accept request</a>
    </li>
</ul>
{% endfor %}
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
{{ form.media }}
{% endblock %}
